<div class="centered">
  <h2>All listings</h2>
  <h3><small>Here are all the current listings from Pledgebench volunteers.</small></h3>

  <table style="width:100%;">
    <tr>
      <th><b>Title</b></th>
      <th><b>Description</b></th>
    </tr>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
      </tr>
    <% end %>
  </table>
  
</div>
