<div class="centered">
  <h2>Create a new listing</h2>
  <h3><small>Create a searchable listing that'll allow charities to find the services you're volunteering.<br />
  Only registered and logged-in charities will be able to search for your listings.</small></h3>

  <%= render partial: "form" %>
</div>
