<div class="centered">
  <a href="<%= new_volunteer_path %>" class="shadowbox-button huge right-icon">Signup as a volunteer <i class="icon-user"></i></a>
  <a href="<%= new_charity_path %>" class="shadowbox-button huge right-icon">Signup as a charity <i class="icon-group"></i></a>
</div>
