<div class="centered">
  <h2>Charity signup</h2>
  <h3><small>Please drop us an email to <a href="mailto:contact@pledgebench.com">contact@pledgebench.com</a> if you are interested in using Pledgebench (for free, forever), and we'll create a new account for you.</small></h3>
</div>
