<div class="wide-bannercontainer revolution" style="height:352px;">
  <div class="wide-banner">
    <ul>
      <li data-transition="fade" data-delay="0">
        <img src="<%= image_path 'shadowbox/bg.png' %>" alt="bg1" class="defaultimg">
        <div class="caption lft start" data-x="0" data-y="-505" data-speed="1800" data-start="0" data-easing="easeOutExpo">
          <img src="<%= image_path 'shadowbox/sl4_bg.png' %>" alt="Bg" width="1020" height="1460" />
        </div>
        <div style="font-size:35px;" class="caption sft fadeout start big centered light white" data-x="center" data-y="140" data-speed="500" data-start="800" data-easing="easeOutExpo">
          Be awesome - donate your time and skills to charity.
        </div>
        <div class="caption sfb fadeout start" data-x="center" data-y="260" data-speed="500" data-start="1100" data-easing="easeOutExpo">
          <a href="portfolio.html" class="shadowbox-button button-light huge">Get started <i class="icon-angle-right"></i></a>
        </div>
        </li>
      </ul>
    <div class="tp-timer-wrapper"><div class="tp-bannertimer tp-bottom"></div></div>
  </div>
</div>

<!--
<div class="call-to-action centered">
  <h3>Be awesome - donate your time and skills to charity.
    <span>
      <small>Quickly and easily volunteer your services to a good cause. <a href="faq">How does this work?</a></small>
    </span>
  </h3>
  <a class="shadowbox-button arrow" href="signup">Get started <i class="icon-angle-right"></i></a>
</div>
-->
