<div class="wide-bannercontainer revolution wide-banner revslider-initialised tp-simpleresponsive" style="padding:0;">
  <div class="wide-banner">
    <ul>
      <li data-transition="fade" data-delay="0">
        <img src="<%= image_path 'shadowbox/bg.png' %>" alt="bg1" class="defaultimg">
        <div class="caption lft start" data-x="0" data-y="-510" data-speed="1800" data-start="0" data-easing="easeOutExpo">
          <img src="<%= image_path 'shadowbox/sl4_bg.png' %>" alt="Bg" width="1020" height="1460" />
        </div>
        <div style="font-size:35px;" class="caption sft fadeout start big centered light white" data-x="center" data-y="140" data-speed="500" data-start="800" data-easing="easeOutExpo">
          Be awesome - donate your time and skills to charity.<br />
          <small>Quickly and easily volunteer your services to a good cause.</small>
        </div>
        <div class="caption sfb fadeout start" data-x="center" data-y="260" data-speed="500" data-start="1100" data-easing="easeOutExpo">
          <a href="signup" class="shadowbox-button arrow button-light huge">Get started <i class="icon-angle-right"></i></a>
        </div>
        </li>
      </ul>
    <div class="tp-timer-wrapper"><div class="tp-bannertimer tp-bottom"></div></div>
  </div>
</div>

<div class="small-padding clearfix">
<h3 class="centered">How does this work?</h3>
  <div class="one_third">
    <h3 class="epsilon"><i class="icon-comments icon-2x pull-left"></i>1. Tell us what you're good at</h3>
    <p class="hidden">What are you awesome at? Programming, legal, photography, event management, magic, anything!</p>
    <p class="hidden">List any skills you have that you'd be willing to work on in your spare time for a good cause.</p>
  </div>
  <div class="one_third">
    <h3 class="epsilon"><i class="icon-search icon-2x pull-left"></i>2. Charities search for skills they require</h3>
    <p class="hidden">Charities can search Pledgebench for the skills they require.</p>
  </div>
  <div class="one_third last">
    <h3 class="epsilon"><i class="icon-smile icon-2x pull-left"></i>3. Pledgebench connects you!</h3>
    <p class="hidden">When a charity finds a volunteer, they can contact that person through Pledgebench.  If you're game to help, the charity gets some free help, and you get the satisfaction of helping out a great cause (and maybe even learn some new skills along the way).</p>
    <p class="hidden">Pledgebench is FREE to use, forever.</p>
  </div>
</div>

<footer id="footer-main" class="clearfix hidden">
  <div class="one_fourth">
    <h4 class="epsilon">About Us</h4>
    <p>Pledgebench is a free service which connects volunteers with charities.</p>
  </div>
  
  <div class="one_fourth">
    <h4 class="epsilon">Latest Volunteers</h4>
    <dl>
      <dt><a href="single.html">Some volunteer</a></dt>
      <dd>September 12, 2013</dd>
      
      <dt><a href="single.html">Another volunteer</a></dt>
      <dd>September 07, 2013</dd>
    </dl>
  </div>
  
  <div class="one_fourth">
    <h4 class="epsilon">Get in Touch</h4>
    <p><strong>Get in touch:</strong><br />
    contact@pledgebench.com</p>
  </div>
  
  <div class="one_fourth last">
    <h4 class="epsilon">Follow Us</h4>
    <dl>
      <dt><i class="icon-twitter icon-3x pull-left icon-muted"></i>Twitter</dt>
      <dd>@pledgebench</dd>
      
      <dt><i class="icon-facebook-sign icon-3x pull-left icon-muted"></i>Facebook</dt>
      <dd>/pledgebench</dd>
    </dl>
  </div>
</footer>
