<div class="call-to-action centered">
  <h3>Go on, be awesome - donate your time and skills to charity.
    <span>
      <small>Quickly and easily volunteer your services to a good cause.</small>
    </span>
  </h3>
  <a class="shadowbox-button arrow" href="signup">Sign up for free <i class="icon-angle-right"></i></a>
</div>
