<div class="call-to-action centered">
  <h3>Be awesome - donate your time and skills to charity.
    <span>
      <small>Quickly and easily volunteer your services to a good cause. <a href="faq">How does this work?</a></small>
    </span>
  </h3>
  <a class="shadowbox-button arrow" href="signup">Get started <i class="icon-angle-right"></i></a>
</div>
